/* Set the background color of body to tan */
body {
  background-color: black;
  font-size: 8rem;
  color: #fffff;
}

.desktop {
	margin: 10px;
}


.mobile {
	display: none;

}


.print {
	display: none;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {


.desktop {display: none;}

.mobile {display: inline;
position: fixed;
left: 120px;
top: 120px; 
color: white;
font-size: 8rem;
}

}

/* On screens that are 600px or less, set the background color to olive */
@media print {
  
 
.desktop {
	display: none;
}


.print{
	display: inline;
	color: black;
}

}