.bottom-paremeters {
  display: flex;
  width: 100%;
  padding: 0 2%;
  bottom: 2%;
  position: fixed;
  font-family: nero, arial;
  font-size: 1vw;

div {
  flex: 1;
  text-align: center;
}

  p {
    margin: 0;
  }

}

.timer {

}

#modaluser {
  border: 1px solid #000;
}

.show {
  display: none;
}

.timezone {

}

.position {

}