/* RESET CODE */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*  */
/*
html *
{
  animation-name: moodchange;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
*/
@keyframes moodchange {
  0% {
    filter: hue-rotate(0deg); }
  20% {
    filter: hue-rotate(90deg); }
  40% {
    filter: hue-rotate(180deg); }
  60% {
    filter: hue-rotate(270deg); }
  80% {
    filter: hue-rotate(360deg); }
  100% {
    filter: hue-rotate(0deg); } }
@keyframes jiggle {
  1% {
    transform: translate(0px, 0px) rotate(0deg); }
  5% {
    transform: translate(1px, -1px) rotate(-1deg); }
  10% {
    transform: translate(2px, -2px) rotate(0deg); }
  15% {
    transform: translate(3px, -3px) rotate(1deg); }
  20% {
    transform: translate(2px, -2px) rotate(0deg); }
  25% {
    transform: translate(1px, -1px) rotate(-1deg); }
  30% {
    transform: translate(0px, 0px) rotate(0deg); }
  35% {
    transform: translate(-1px, 1px) rotate(1deg); }
  40% {
    transform: translate(-2px, 2px) rotate(0deg); }
  45% {
    transform: translate(-3px, 3px) rotate(-1deg); }
  50% {
    transform: translate(-2px, 2px) rotate(1deg); }
  100% {
    transform: translate(0px, 0px) rotate(1deg); } }
@font-face {
  font-family: 'Herculanum';
  src: url("../assets/fonts/Herculanum.woff2") format("woff2"), url("../assets/fonts/Herculanum.woff") format("woff"), url("../assets/fonts/Herculanum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PMingLiU';
  src: url("../assets/fonts/PMingLiU.woff") format("woff"), url("../assets/fonts/PMingLiU.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 40px;
  background-color: #ecece7;
  font-family: 'PMingLiU', Times New Roman, Serif;
  letter-spacing: -0.02em;
  height: 100vh;
  line-height: 110%;
  overflow: hidden; }

a {
  color: inherit;
  text-decoration: none; }

<<<<<<< HEAD
/*k added*/
.random {
  position: relative;
  margin: 20px;
  padding-top: 20px;
  display: inline-block;
}

p.map {
  visibility: none;
  display: none;

}
/*added stuff ends here*/

=======
>>>>>>> a068be86cce1d54790c7882f442d040702b1c092
.thumb {
  position: fixed;
  width: 10%;
  z-index: 0;
  filter: blur(10px) invert(58%);
  mix-blend-mode: exclusion;
  opacity: 0.7; }

.thumb:hover {
  filter: blur(0px) invert(0%);
  opacity: 1;
  mix-blend-mode: none; }

.watermark {
  position: fixed;
  z-index: 40;
  pointer-events: none;
  top: 0;
  opacity: 0.3;
  width: 100%; }
  .watermark img {
    display: none; }

.title {
  font-style: italic;
<<<<<<< HEAD
  font-size: 90%; 
  z-index: 2;
}

#centertitle-mobile {
  display: none;
}

=======
  font-size: 90%; }
>>>>>>> a068be86cce1d54790c7882f442d040702b1c092

.fullborder-top-left {
  position: fixed;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border-top: 3px solid yellow;
  top: 3px;
  left: 0;
  height: 100%;
  z-index: 4;
  pointer-events: none;
  /*
    &:after {
      content: "";
      position: absolute;
      left: 0;
      z-index: 100;
      top: -3px;
      width: 3px;
      height: 50%;
      background: #328e21;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      z-index: 100;
      top: -6px;
  height: 3px;
      width: 50%;
      background: #328e21;
    }
  */ }

.fullborder-bottom-right {
  position: fixed;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border-bottom: 3px solid yellow;
  bottom: 3px;
  right: 0;
  height: 100%;
  z-index: 4;
  pointer-events: none;
  /*
    &:after {
      content: "";
      position: absolute;
      right: 0;
      z-index: 100;
      bottom: -3px;
      width: 3px;
      height: 50%;
      background: #328e21;
    }

    &:before {
      content: "";
      position: absolute;
      right: 0;
      z-index: 100;
      bottom: -6px;
      height: 3px;
      width: 50%;
      background: #328e21;
    }
  */ }

/*#maincontainer{
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	top: 20px;
	margin-bottom: 20px;
	border: 1px solid #0285ff;
	outline: 2px solid yellow;

}
*/
.maincontainer {
  position: fixed;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  top: 20px;
  height: 85vh;
  border-bottom: 2px solid #888; }

#lefttitle {
  position: fixed;
  left: -100px;
  top: 0; }

#righttitle {
  position: fixed;
  right: -100px;
  top: 0; }

#centertitle {
  position: fixed;
  left: 40%;
  top: 0;
  text-align: center; }

#bottomlefttitle {
  position: fixed;
  bottom: 0;
  left: 18%;
  font-size: 0.8em; }

#bottomrighttitle {
  position: fixed;
  bottom: 0;
  right: 18%;
  font-size: 0.8em; }

.lefttext {
  transition: all 0.2s;
  position: absolute;
  left: 24px;
  top: 40px;
  text-align: left; }
  .lefttext .skew {
    transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    display: inline-block; }

.righttext {
  position: absolute;
  right: 24px;
  top: 40px;
  text-align: right; }

.logos {
  display: none;
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 45vw; }

/* sascha */
.bottom-paremeters {
  display: flex;
  width: 100vw;
  /* padding: 0 2%; */
  top: 87vh;
  position: fixed;
  font-family: Herculanum, Times, Serif;
  font-size: 1vw; }

.bottom-paremeters div {
  flex: 1;
  text-align: center; }

.bottom-paremeters p {
  margin: 0; }

#modaluser {
  border: 1px solid #000; }

.show {
  display: none; }

.mobile {
  display: none; }

.print {
  display: none; }

.trigger-paywall {
  cursor: pointer; }

.paywall {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 30;
  position: fixed;
  background-color: #fffffff7; }
  .paywall .paywall-contents {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    width: 50%;
    margin: 3vh auto;
    border: 3px solid #fbff00;
    height: 93vh;
    overflow: scroll;
    background-color: #fff; }
    .paywall .paywall-contents p {
      color: black;
      font-size: 0.6em;
      line-height: normal;
      padding: 20px;
      text-shadow: 0 1px #ddd; }
    .paywall .paywall-contents .button {
      text-align: center;
      margin: 1em auto;
      width: 200px;
      /* background-color: #0f7a02; */
      color: #000000;
      line-height: 20px;
      height: 20px;
      border: 1px solid #000;
      font-size: 0.8em;
      padding: 0.5em;
      border-radius: 1px;
      font-family: helvetica ,sans-serif;
      font-weight: 100;
      bottom: 0;
      cursor: pointer; }

.hide-paywall {
  transition: 1s;
  background-color: transparent;
  pointer-events: none;
  visibility: hidden; }

.hide-paywall-content {
  transition: 1s;
  filter: blur(100px);
  opacity: 0;
  visibility: hidden; }

.show-paywall-fast {
  transition: 1s;
  opacity: 1 !important;
  visibility: visible !important; }

.show-paywall-content-fast {
  transition: 1s;
  opacity: 1 !important;
  visibility: visible !important; }

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  display: block;
  z-index: 10000; }

.show-loader {
  display: none; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#hide {
  width: 50%;
  margin: 20px auto;
  z-index: 40;
  position: fixed;
  border-radius: 20px 20px 20px 20px;
  font-size: 2rem; }

.generalinfo {
  position: fixed;
  width: 30%;
  height: 100%;
  border: 1px solid black;
  z-index: 20;
  top: 0;
  left: 0; }

.designer-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  font-size: 1em;
  width: 96%;
  padding: 40px 1vw 0;
  color: #401508;
  text-shadow: 0 0 1px #828282;
  /* border: 11px solid; */
  margin: 0 auto;
  /* padding: 1em; */
  /* left: 30vw; */
  /* left: 10vw; */
  /* left: 30vw; */
  top: -17px;
  z-index: 1;
  height: calc(85vh - 22px);
  /* background-color: #e5e5e5; */
  position: absolute;
  overflow: scroll;
  float: left;
  text-align: left;
  direction: rtl; }
  .designer-content .img-wrapper {
    width: 70vw;
    display: block;
    float: left; }
  .designer-content img {
    width: auto;
    height: 60vh;
    float: left;
    text-align: left;
    direction: initial; }
  .designer-content i {
    font-style: italic; }
  .designer-content p {
    float: left;
    text-align: left;
    width: 70vw;
    direction: initial; }

.show-content {
  transition: all 0.2s;
  visibility: visible;
  opacity: 1; }

.hide-content {
  opacity: 0;
  transition: 0.2s;
  pointer-events: none; }

.active-designer {
  text-shadow: 1px 0px #000000; }

.projects {
  display: block;
  width: 100%;
  min-height: 900px;
  background: none; }

.project {
  min-width: 50px;
  min-height: 50px;
  position: absolute; }

.project img {
  max-width: 200px; }




/* On screens that are 992px or less, set the background color to blue */
<<<<<<< HEAD
@media screen and (max-width: 678px) {


p.map {
  display: inline;
  visibility: visible;
  font-size: 1.3rem;
}
  
.button:active
{ outline: 0;
background-color: yellow ;

 }

.paywall {
  background-color: none;
  padding-top: 2rem;
}


.paywall .paywall-contents {

  width: 95%;
    margin: 3vh auto;
    border: 3px solid #fbff00;
    max-height: 80vh; 
}
 

#tinylogo, .logos, .bottom-paremeters, #lefttitle, #righttitle,  #bottomlefttitle, #bottomrighttitle, .righttext {
  display: none;
}

.toptitles{
height: 1.2em;
}

.morning-color-body .toptitles {
background-color: yellow;
}

.afternoon-color-body .toptitles {
background-color: inherit; /*check!*/
}
.evening-color-body .toptitles {
background-color: orange;
}

.night-color-body .toptitles {
background-color: #282700;
}


.toptitles, #centertitle-mobile {

width: 100%;
font-size: 0.9em;

top: 0;
position: fixed;
z-index: 200;
}

#centertitle {
  display: none;
}

#centertitle-mobile {
text-align: center;
margin: 0 auto;
left: 0;
top: 2px;
display: inline;

}



.single-images img {
  display: none;
}

.lefttext {
  margin-top: 20px;
  position: relative;
  padding-bottom: 50%;
}

.maincontainer {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

=======
@media screen and (max-width: 992px) {
  .desktop {
    display: none; }
>>>>>>> a068be86cce1d54790c7882f442d040702b1c092

  .mobile {
    display: inline;
    position: fixed;
    left: 120px;
    top: 120px;
    color: white;
    font-size: 8rem; } }
/* On screens that are 600px or less, set the background color to olive */
@media print {
  .desktop {
    display: none; }

  .print {
    display: inline;
    color: black; } }
/* Progress Bar
.progress {
  position: fixed;
  height: 2px;
  display: block;
  width: 100%;
  top: 0;
  background-color: blue;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
}
.progress .determinate {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: red;
  transition: width .3s linear; }
.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: blue;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
*/
/* ornaments */
#tail {
  position: absolute;
  background: green;
  max-width: 100vw;
  height: 3px; }

#tail-vert {
  position: absolute;
  background: green;
  max-height: 100vh;
  top: 3px;
  width: 3px; }

#tail-right {
  position: absolute;
  background: green;
  max-width: 100vw;
  height: 3px;
  right: 0;
  bottom: 0; }

#tail-vert-right {
  position: absolute;
  background: green;
  max-height: 100vh;
  width: 3px;
  right: 0;
  bottom: -3px; }

.red-block-1 {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 50px;
  top: 0;
  background-color: #ff0000; }

.red-block-2 {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 60px;
  top: 0;
  background-color: #ff0000; }

.blue-block-1 {
  position: absolute;
  width: 20px;
  height: 3px;
  left: 100px;
  top: 0;
  background-color: #000fff; }

.blue-block-2 {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 118px;
  bottom: 0;
  background-color: #000fff; }

.blue-block-3 {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 108px;
  bottom: 0;
  background-color: #000fff; }

.blue-block-4 {
  position: absolute;
  width: 3px;
  height: 3px;
  right: 100px;
  bottom: 0;
  background-color: #000fff; }

.blue-block-5 {
  position: absolute;
  width: 3px;
  height: 3px;
  right: 24px;
  top: 0;
  background-color: #000fff; }

.red-block-3 {
  position: absolute;
  width: 10px;
  height: 3px;
  right: 68px;
  top: 0;
  background-color: #ff0000; }

.red-block-4 {
  position: absolute;
  width: 3px;
  height: 3px;
  right: 32px;
  top: 0;
  background-color: #ff0000; }

/* time changes */
.show-during-time {
  display: block !important; }

.show-during-time-thumb {
  display: inline-block !important; }

.hide-during-time {
  display: none !important; }

.day-thumb {
  display: inline-block; }

.night-thumb {
  display: none; }

/* morning */
.morning-body {
  background: #fceabb;
  background: -webkit-linear-gradient(to top, #f8b500, #fceabb);
  background: linear-gradient(to top, #f8b500, #fceabb); }
  .morning-body .thumb {
    filter: blur(10px) invert(10%) !important;
    pointer-events: none; }

/* from 9am -12am working */
/* substate */
.afternoon-color-body {
  background-color: inherit; }

/* working from 12pm till 8pm */
.afternoon-nervous-body {
  background-color: inherit; }
  .afternoon-nervous-body .thumb {
    animation-name: jiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

/* evening from 8pm - 12pm */
.evening-color-body {
  background-color: #303e18;
  color: #4b0202;
  text-shadow: 0 0 8px #b20404;
  /*&:after {
    animation: grain 8s steps(10) infinite;
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -110%;
    width: 300%;
  }*/ }
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0); }
  10% {
    transform: translate(-5%, -10%); }
  20% {
    transform: translate(-15%, 5%); }
  30% {
    transform: translate(7%, -25%); }
  40% {
    transform: translate(-5%, 25%); }
  50% {
    transform: translate(-15%, 10%); }
  60% {
    transform: translate(15%, 0%); }
  70% {
    transform: translate(0%, 15%); }
  80% {
    transform: translate(3%, 35%); }
  90% {
    transform: translate(-10%, 10%); } }
.thumbs-evening {
  filter: blur(50px) invert(0) !important;
  border-radius: 40%; }
  .thumbs-evening:hover {
    filter: blur(0px) invert(0) !important;
    border-radius: 0; }

/* night from 12pm till 9am */
.night-color-body {
  background: #000;
  color: #fff; }
  .night-color-body .designer-content {
    color: #dedede !important;
    text-shadow: 1px 0px #ddd !important; }
  .night-color-body .lefttext {
    pointer-events: none; }
  .night-color-body .thumb {
    mix-blend-mode: color-burn;
    filter: blur(12px) invert(60%); }
    .night-color-body .thumb:hover {
      filter: invert(0); }
  .night-color-body .timer, .night-color-body #clock, .night-color-body .location, .night-color-body .position, .night-color-body .counter {
    opacity: 0; }

.night-watermark, .night-logos {
  filter: invert(100%); }

.display-morning, .display-afternoon, .display-evening, .display-night {
  display: block; }

.random {
  position: relative;
  margin: 20px;
  padding-top: 20px; }

.thumb {
  z-index: 0;
  filter: blur(10px) invert(58%);
  mix-blend-mode: exclusion;
  opacity: 0.7;
  max-height: 30vh;
  width: auto; }

.pointer-events-off {
  pointer-events: none; }

.invert {
  filter: invert(90%);
  background-color: white;
  border-radius: 5px; }

/* Mobile Styles */
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 768px) {
  .button:active {
    outline: 0;
    background-color: yellow; }

  .paywall {
    background-color: none;
    padding-top: 2rem; }

  .paywall .paywall-contents {
    width: 95%;
    margin: 3vh auto;
    border: 3px solid #fbff00;
    max-height: 80vh; }

  #tinylogo, .logos, .bottom-paremeters, #lefttitle, #righttitle, #bottomlefttitle, #bottomrighttitle, .righttext {
    display: none; }

  .toptitles, #centertitle {
    height: 11%;
    width: 100%;
    background-color: inherit;
    /*change*/
    top: 0;
    position: fixed;
    z-index: 200; }

  #centertitle {
    text-align: center;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 6px; }

  .single-images img {
    display: none; }

  .lefttext {
    margin-top: 20px;
    position: relative;
    padding-bottom: 50%; }

  .maincontainer {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; }

  .designer-content {
    visibility: visible;
    opacity: 1;
    transition: none;
    width: 96%;
    display: inline;
    margin: 0 auto;
    top: -17px;
    z-index: 1;
    position: relative;
    overflow-y: scroll;
    float: none;
    text-align: left;
    direction: rtl; }

  .designer-content img {
    width: 96%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px; }

  .main-content p {
    width: 96%; }

  .main-content {
    overflow: hidden;
    margin-bottom: 150px; }

  h2 {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
